PORT=3000

GEMINI_API_KEY="AQ.Ab8RN6Ig3721NFdlSDbVh-cfcJRMwcmqn8ZhK7yrixjYnIhpGA"

APP_URL="http://localhost:3000"

# DB_HOST="localhost"
# DB_PORT="3306"
# DB_USER="root"
# DB_PASSWORD="123456"
# DB_NAME="do-an"

DB_HOST=gateway01.ap-southeast-1.prod.alicloud.tidbcloud.com
DB_PORT=4000
DB_USER=338z5oDUxdCvTYx.root
DB_PASSWORD=24EVsydAiKxNS13c
DB_NAME=quan_ly_sinh_de_ai_v2
DB_SSL=true